<%- include('./includes/header.ejs') %>
</head>

<body>

    <%- include('./includes/navigation.ejs') %>
    
    <main>
        <h2>Some error occured!</h2>
        <p>We're working on fixing this...</p>
    </main>

<%- include('./includes/footer.ejs') %>